body{
    margin: 0 auto;
    background: #f7f7f5;
}
table{
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    margin: 40px auto;
    font-size: 16px;
    width: 950px;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: white;
}
th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: #e2ad63;
}
form{
    margin: 40px auto;
    border-radius: 5px;
    background-color: white;
    height: auto;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}
input{
    padding: 7px;
    border: 1px solid black;
    border-radius: 2px;
    height: 15px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 20px;
    margin-top: 6px;
}
label{
    color: #3A3A3A;
    font-style: normal;
    margin-bottom: 8px;
    margin-top: 6px;
    font-size: 14px;
}
.menu{
    display: flex;
    margin: 60px auto;
    justify-content:center;
}
.menu div{
    width: 350px;
    height: 80px;
    border-radius: 5px;
    background: #cbc7bd;
    opacity: 0.5;
    margin-left: 15px;
    display: flex;
    align-content: center;
    justify-content:center;
    font-size: 14px;
}
a{
    text-decoration: none;
    align-self: center;
    color: black;
}