<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>My app</title>
    <link rel="stylesheet" href="/styles/css/style.css">
</head>

<body>
    <table>
        <thead>
        <th>Id</th>
        <th>Название</th>
        <th>Страна производителя</th>
        <th>Прозводитель</th>
        <th>Цена</th>
        <th>Год изготовления</th>
        </thead>
        <tbody>
            <tr th:each="i:${furniture}">
                <td>
                    <a th:utext="${i.getId()}" th:href="@{/{id}/edit(id=${i.getId()})}" title="нажмите для редактирования"></a>
                </td>
                <td th:utext="${i.getName()}"></td>
                <td th:utext="${i.getCountry()}"> </td>
                <td th:utext="${i.getManufacturer()}"></td>
                <td th:utext="${i.getPrice()}"></td>
                <td th:utext="${i.getYear()}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>